<!DOCTYPE html>
<html lang="{{ site.lang | default: "uk-UA" }}">

<head>
  <meta charset="utf-8">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <p>{{ site.description | default: site.github.project_tagline }}</p>
  </header>
  <div id="banner">
    <span id="logo"></span>
    <a href="{{ site.github.repository_url }}" class="button fork"><strong>Переглянути код</strong></a>
    {% if site.show_downloads %}
    <div class="downloads">
      <ul>
        <li><a href="downloads.html" class="button">Завантажити</a></li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="wrapper">
    <section>
      {{ content }}
    </section>
  </div>
  <footer>
    Прохання відправляти пропозиції та уточнення на адресу <a href="mailto:gimnazia2if@ukr.net">gimnazia2if@ukr.net</a>
  </footer>
</body>

</html>
